 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
 
 <body>
    <h1>Merci de votre implication <%= @visitormailer.name %></h1>
    <p>
	Nous vous confirmons votre inscription à la Newsletter d'Acacias for All: <%= @visitormailer.login %>.<br>
    </p>
    <p>
Pour se connecter à notre site Acacias for All, vous pouvez cliquer sur ce lien… <%= @acacias.herokuapp.com %>.
    </p>
    <p> Merci de nous avoir rejoint et bonne journée ! </p>
  </body>

</html> 